body {
    display: flex;
    justify-content: space-evenly;
    height: 95vh;
    align-items: center;
    flex-direction: column;
}

.borderer {
    display: flex;
    padding: 20px;
    background-color: #000000;
}

.container {
    display: flex;
    border: solid black 1px;
    height: 800px;
    width: 800px;
    flex-shrink: 0;
}

.columnClass {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.boxClass {
    border: solid rgb(211, 211, 211) 1px;
    flex-grow: 1;
}

.boxClass:hover {
    transition-duration: 0.6s;
}

button {
    padding: 5px 30px;
    border: solid purple 2px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    color: #ffffff;
    background-color: purple;
    border-color: black;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.6s;
}